@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html,
body,
canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: sans-serif;
}

.container {
  position: relative;
  margin: auto;
  width: 1024px;
  height: 768px;
  box-shadow: 1px 1px 16px 1px gray;
}

#root {
  height: 100%;
  width: 100%;
}

.menu {
  border-radius: 8px;
  z-index: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: absolute;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.8);
  width: 100%;
  border-style: solid;
  border-width: 4px;
  border-image: url('./data/Textbox/Textbox.png') 2 fill round;
  font-family: 'VT323';
}

#tasks {
  flex-direction: column;
  text-align: center;
  left: 8px;
  top: 8px;
  width: 160px;
  height: 300px;
}

.tasks-header {
  margin-bottom: 1rem;
}

#task-items {
  font-size: 16pt;
  color: #37271f;
}

.profile-photo {
  width: 150px;
  height: 150px;
  left: 16px;
  bottom: 16px;
}

.actions-menu {
  width: calc(100% - 230px);
  height: 150px;
  right: 16px;
  bottom: 16px;
}

.action-item {
  margin: 2px;
  padding: 4px;
  flex: 1 1 100%;
  min-width: 128px;
  min-height: 128px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 2px 2px 1px 1px rgba(0, 0, 100, 0.1);
  background-color: rgba(0, 0, 24, 0.1);
}

.action-item-description {
  font-size: 14pt;
  text-align: center;
}

.actions-menu .action-item {
  font-size: 36px;
  color: #37271f;
  text-shadow: 1px 1px 0px gray;
}
.actions-menu .action-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.panel {
  position: absolute;
  height: 100%;
  width: 100%;
}

#game-start {
  border-style: solid;
  border-width: 4px;
  border-image: url('./data/Textbox/Textbox.png') 2 fill round;
  background: transparent;
  font-family: 'VT323';
  font-size: 24pt;
  width: 50%;
  box-shadow: 4px 4px 0 0 black;
}

#main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: 'VT323';
  background-image: url('./Data/Ground/Background1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#main-menu h1 {
  font-size: 72px;
  text-shadow: 2pt 2pt black;
}

#profile {
  padding: 0;
}

#profile img {
  height: 100%;
  width: 100%;
  filter: drop-shadow(4px 0px 0px gray);
}

img,
canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@font-face {
  font-family: 'Brush Of Kent';
  src: url('./data/Fonts/Brush\ Of\ Kent.ttf');
}
