html,
body,
canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: sans-serif;
}

.container {
  position: relative;
  margin: auto;
  width: 1024px;
  height: 768px;
  box-shadow: 1px 1px 16px 1px gray;
}

#root {
  height: 100%;
  width: 100%;
}

.menu {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  z-index: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: absolute;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
}

#tasks {
  flex-direction: column;
  text-align: center;
  left: 8px;
  top: 8px;
  width: 160px;
  height: 300px;
}

.tasks-header {
  margin-bottom: 1rem;
}

.actions-menu {
  width: calc(100% - 32px);
  height: 150px;
  left: 16px;
  bottom: 16px;
}

.action-item {
  margin: 4px;
  flex: 1 1 content;
  min-width: 128px;
  min-height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.panel {
  position: absolute;
  height: 100%;
  width: 100%;
}

#main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'Brush Of Kent';
  src: url('./data/Fonts/Brush\ Of\ Kent.ttf');
}

h1 {
  font-family: 'Brush Of Kent';
  font-size: 4rem;
}
